<%= form_with(model: customer, class: "max-w-md mx-auto") do |form| %>
  <% if customer.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <h2 class="font-bold mb-2"><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul class="list-disc pl-5 mb-0">
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_field :name, class: "form-input w-full border border-gray-300 py-2 px-4 leading-tight rounded focus:outline-none focus:border-blue-500 focus:shadow-outline-blue" %>
  </div>

  <div class="mb-4">
    <%= form.label :address, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_field :address, class: "form-input w-full border border-gray-300 py-2 px-4 leading-tight rounded focus:outline-none focus:border-blue-500 focus:shadow-outline-blue" %>
  </div>

  <div>
    <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>